

html, body { }

*, *::after, *::before {
  box-sizing: border-box;  
}


.img-simple {
  position: relative;
  float: left;
}

.img-content-preview {
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  width: auto;
  position: absolute;
  z-index: 100;
  background: white;
}

.

.popup-footer span { line-height: 3pt; }

span.popup-licences {
  max-width: 100pt;
  float: left;
  width: auto;
}

span.popup-copyright { float: right; }
